# Data cleaning

## Libraries used

In [1]:
import pandas as pd
import os

## Loading data

In [2]:
data_filepath = os.path.join('data','globalterrorismdb_0617dist.xlsx')

data = pd.read_excel(data_filepath)

In [3]:
columns_to_drop = [
    'approxdate',
    'extended',
    'resolution',
    'summary',
    'crit1',
    'crit2',
    'crit3',
    'doubtterr',
    'alternative',
    'alternative_txt',
    'multiple',
    'related',
    'provstate',
    #'city',
    'vicinity',
    'location',
    'specificity',
    'success',
    'weapsubtype1',
    'weapsubtype1_txt',
    'weapsubtype2',
    'weapsubtype2_txt',
    'weapsubtype3',
    'weapsubtype3_txt',
    'weapsubtype4',
    'weapsubtype4_txt',
    'corp1',
    'target1',
    'natlty1',
    'natlty1_txt',
    'corp2',
    'target2',
    'natlty2',
    'natlty2_txt',
    'corp3',
    'target3',
    'natlty3',
    'natlty3_txt',
    'gsubname',
    'gsubname2',
    'gsubname3',
    'individual',
    'nperps',
    'nperpcap',
    'claimmode',
    'claimmode_txt',
    'compclaim',
    'claimmode2',
    'claimmode2_txt',
    'claimmode3',
    'claimmode3_txt',
    'nkillus',
    'nkillter',
    #'nwouldus',
    'nwoundte',
    'property',
    'propextent',
    'propextent_txt',
    'propvalue',
    'propcomment',
    'ishostkid',
    'nhostkid',
    #'ishostkidus',
    'nhostkidus',
    'nhours',
    'ndays',
    'divert',
    'kidhijcountry',
    'ransom',
    'ransomamt',
    #'ransomus',
    'ransomamtus',
    'ransompaid',
    'ransomnote',
    'hostkidoutcome',
    'hostkidoutcome_txt',
    'nreleased',
    'addnotes',
    'INT_LOG',
    'INT_IDEO',
    'INT_MISC',
    'INT_ANY',
    'scite1',
    'scite2',
    'scite3',
    'dbsource'
]

In [4]:
data.drop(columns_to_drop, axis=1, inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170350 entries, 0 to 170349
Data columns (total 53 columns):
eventid             170350 non-null int64
iyear               170350 non-null int64
imonth              170350 non-null int64
iday                170350 non-null int64
country             170350 non-null int64
country_txt         170350 non-null object
region              170350 non-null int64
region_txt          170350 non-null object
city                169904 non-null object
latitude            165744 non-null float64
longitude           165744 non-null float64
suicide             170350 non-null int64
attacktype1         170350 non-null int64
attacktype1_txt     170350 non-null object
attacktype2         5630 non-null float64
attacktype2_txt     5630 non-null object
attacktype3         374 non-null float64
attacktype3_txt     374 non-null object
targtype1           170350 non-null int64
targtype1_txt       170350 non-null object
targsubtype1        161005 non-null float64
targsubtype1_txt    161005 non-null object
targtype2           10018 non-null float64
targtype2_txt       10018 non-null object
targsubtype2        9601 non-null float64
targsubtype2_txt    9601 non-null object
targtype3           1034 non-null float64
targtype3_txt       1034 non-null object
targsubtype3        961 non-null float64
targsubtype3_txt    961 non-null object
gname               170350 non-null object
gname2              1740 non-null object
gname3              269 non-null object
motive              48586 non-null object
guncertain1         169971 non-null float64
guncertain2         1681 non-null float64
guncertain3         265 non-null float64
claimed             104216 non-null float64
claim2              1617 non-null float64
claim3              263 non-null float64
weaptype1           170350 non-null int64
weaptype1_txt       170350 non-null object
weaptype2           11843 non-null float64
weaptype2_txt       11843 non-null object
weaptype3           1660 non-null float64
weaptype3_txt       1660 non-null object
weaptype4           74 non-null float64
weaptype4_txt       74 non-null object
weapdetail          110965 non-null object
nkill               160668 non-null float64
nwound              155025 non-null float64
nwoundus            105640 non-null float64
ransompaidus        487 non-null float64
dtypes: float64(22), int64(10), object(21)
memory usage: 68.9+ MB

### Looking at the data

From the info above, we can observe that not all the columns in our data are populated for each data entry. One set of columns that are really important for our visualization, latitude and longitude, is found between in columns with missing values. Given that our project has a big focus on the geo-location dimmension of the database, a decision has to be made.

Possible solutions:
* observing that for these data entries, the country is specified, we can infer approximate values for the latitude and longitude
* looking at the distribution by year and by country of the data, we can see that the number of data entries with missing localization data is rather small comparing to the number of data entries containing geolocalization. Therefore dropping those entries would not have a big impact

In [6]:
# we set this in order to not have truncated dataframes when printed
pd.options.display.max_rows = 999

In order to back-up the first possible solution, we look at the number of data entries with missing values. Then we check if every data entry that is missing the geolocation has the country specified. We do this by grouping by country and sum the counts. The resulted number should be equal to the number of data entries with missing geolocation.

In [7]:
len(data[data.latitude.isnull()])

4606

In [8]:
data[data.latitude.isnull()].groupby('country_txt').count()['eventid'].sum()

4606

We can confirm that every data entry with missing geolocation has the country specified.

**Second solution**: We now try to gather more insight into the other possible solution: dropping the problematic entries.

For this, we want to know what fraction of the data has missing geolocation, considering first by country and then by year.

In [9]:
full_country_counts = data['country_txt'].value_counts()
missing_country_counts = data[data.latitude.isnull()]['country_txt'].value_counts()

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
missing_fraction_country = missing_country_counts.divide(full_country_counts, fill_value=0)
missing_fraction_country

Afghanistan                         0.007695
Albania                             0.012658
Algeria                             0.048736
Andorra                             1.000000
Angola                              0.068966
Antigua and Barbuda                 0.000000
Argentina                           0.017370
Armenia                             0.000000
Australia                           0.000000
Austria                             0.009174
Azerbaijan                          0.063830
Bahamas                             0.000000
Bahrain                             0.043011
Bangladesh                          0.043614
Barbados                            0.000000
Belarus                             0.000000
Belgium                             0.000000
Belize                              0.125000
Benin                               0.125000
Bhutan                              0.166667
Bolivia                             0.031847
Bosnia-Herzegovina                  0.006289
Botswana                            0.100000
Brazil                              0.018657
Brunei                              0.000000
Bulgaria                            0.000000
Burkina Faso                        0.050000
Burundi                             0.039182
Cambodia                            0.255814
Cameroon                            0.025641
Canada                              0.023810
Central African Republic            0.068085
Chad                                0.141176
Chile                               0.019141
China                               0.004049
Colombia                            0.056842
Comoros                             0.000000
Costa Rica                          0.000000
Croatia                             0.017544
Cuba                                0.033333
Cyprus                              0.030303
Czech Republic                      0.000000
Czechoslovakia                      0.100000
Democratic Republic of the Congo    0.011146
Denmark                             0.024390
Djibouti                            0.047619
Dominica                            0.000000
Dominican Republic                  0.000000
East Germany (GDR)                  0.000000
East Timor                          0.200000
Ecuador                             0.032258
Egypt                               0.012471
El Salvador                         0.098872
Equatorial Guinea                   0.500000
Eritrea                             0.400000
Estonia                             0.187500
Ethiopia                            0.116564
Falkland Islands                    0.000000
Fiji                                0.000000
Finland                             0.000000
France                              0.007949
French Guiana                       0.000000
French Polynesia                    0.000000
Gabon                               0.000000
Gambia                              0.000000
Georgia                             0.004630
Germany                             0.031294
Ghana                               0.105263
Greece                              0.004874
Grenada                             0.200000
Guadeloupe                          0.303571
Guatemala                           0.048780
Guinea                              0.000000
Guinea-Bissau                       0.000000
Guyana                              0.000000
Haiti                               0.004695
Honduras                            0.012422
Hong Kong                           0.000000
Hungary                             0.000000
Iceland                             0.000000
India                               0.014210
Indonesia                           0.025850
International                       0.000000
Iran                                0.041420
Iraq                                0.006462
Ireland                             0.006897
Israel                              0.025316
Italy                               0.007712
Ivory Coast                         0.065574
Jamaica                             0.058824
Japan                               0.017456
Jordan                              0.059406
Kazakhstan                          0.037037
Kenya                               0.032646
Kosovo                              0.010638
Kuwait                              0.197368
Kyrgyzstan                          0.031250
Laos                                0.115385
Latvia                              0.000000
Lebanon                             0.059087
Lesotho                             0.137931
Liberia                             0.030303
Libya                               0.013151
Lithuania                           0.000000
Luxembourg                          0.250000
Macau                               0.000000
Macedonia                           0.025641
Madagascar                          0.000000
Malawi                              0.000000
Malaysia                            0.000000
Maldives                            0.055556
Mali                                0.055156
Malta                               0.050000
Martinique                          0.083333
Mauritania                          0.166667
Mauritius                           0.000000
Mexico                              0.009921
Moldova                             0.047619
Montenegro                          0.000000
Morocco                             0.111111
Mozambique                          0.085470
Myanmar                             0.100000
Namibia                             0.105960
Nepal                               0.009307
Netherlands                         0.031250
New Caledonia                       0.032258
New Hebrides                        0.000000
New Zealand                         0.000000
Nicaragua                           0.215736
Niger                               0.014388
Nigeria                             0.011995
North Korea                         0.000000
North Yemen                         0.333333
Norway                              0.000000
Pakistan                            0.003521
Panama                              0.000000
Papua New Guinea                    0.024691
Paraguay                            0.048077
People's Republic of the Congo      0.333333
Peru                                0.047142
Philippines                         0.061172
Poland                              0.000000
Portugal                            0.007194
Qatar                               0.142857
Republic of the Congo               0.000000
Rhodesia                            0.301205
Romania                             0.000000
Russia                              0.001390
Rwanda                              0.050955
Saudi Arabia                        0.034700
Senegal                             0.296610
Serbia                              0.000000
Serbia-Montenegro                   0.000000
Seychelles                          0.000000
Sierra Leone                        0.091837
Singapore                           0.000000
Slovak Republic                     0.000000
Slovenia                            0.000000
Solomon Islands                     0.000000
Somalia                             0.006031
South Africa                        0.038249
South Korea                         0.000000
South Sudan                         0.011696
South Vietnam                       0.000000
South Yemen                         0.500000
Soviet Union                        0.051282
Spain                               0.016641
Sri Lanka                           0.037907
St. Kitts and Nevis                 0.500000
St. Lucia                           0.000000
Sudan                               0.040650
Suriname                            0.060606
Swaziland                           0.062500
Sweden                              0.016949
Switzerland                         0.000000
Syria                               0.015906
Taiwan                              0.020833
Tajikistan                          0.048649
Tanzania                            0.113208
Thailand                            0.011723
Togo                                0.041667
Trinidad and Tobago                 0.000000
Tunisia                             0.067308
Turkey                              0.039942
Turkmenistan                        0.000000
Uganda                              0.031496
Ukraine                             0.003636
United Arab Emirates                0.090909
United Kingdom                      0.001569
United States                       0.000363
Uruguay                             0.000000
Uzbekistan                          0.000000
Vanuatu                             0.000000
Vatican City                        0.000000
Venezuela                           0.036364
Vietnam                             0.100000
Wallis and Futuna                   0.000000
West Bank and Gaza Strip            0.005597
West Germany (FRG)                  0.024030
Western Sahara                      0.400000
Yemen                               0.021550
Yugoslavia                          0.004926
Zaire                               0.125000
Zambia                              0.133333
Zimbabwe                            0.061224
Name: country_txt, dtype: float64

At a first glance, the number of data entries with missing geolocation is rather small comparing with the total number of entries. 
Which mean that dropping this entries would not affect out visualization.
But we will deep further do identify if there are cases where the entries with missing geolocation account for a big part of the data.

In [12]:
significant_missing = missing_fraction_country[missing_fraction_country >= 0.5]
significant_missing

Andorra                1.0
Equatorial Guinea      0.5
South Yemen            0.5
St. Kitts and Nevis    0.5
Name: country_txt, dtype: float64

We see that for three countries half of the data is missing the geolocation and all data entries for Andorra. Thinking about completing the data by hand, we will now see how many cases are for each country.

In [13]:
missing_country_counts.loc[significant_missing.index]

Andorra                1
Equatorial Guinea      1
South Yemen            1
St. Kitts and Nevis    1
Name: country_txt, dtype: int64

There is only one entry per country, therefore we can put this data in by hand.

We can see below the details about these attacks in order to Google search a more precise location.

In [14]:
data[data.country_txt.isin(significant_missing.index)].query('latitude != latitude')

,eventid,iyear,imonth,iday,country,country_txt,region,region_txt,city,latitude,longitude,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,gname,gname2,gname3,motive,guncertain1,guncertain2,guncertain3,claimed,claim2,claim3,weaptype1,weaptype1_txt,weaptype2,weaptype2_txt,weaptype3,weaptype3_txt,weaptype4,weaptype4_txt,weapdetail,nkill,nwound,nwoundus,ransompaidus
2397,197407140002,1974,7,14,7,Andorra,8,Western Europe,Unknown,NaN,NaN,0,2,Armed Assault,NaN,NaN,NaN,NaN,1,Business,3.0,Bank/Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,International Revolutionary Action Group (GARI),NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5,Firearms,NaN,NaN,NaN,NaN,NaN,NaN,Pistols,NaN,NaN,NaN,NaN
17846,198301200014,1983,1,20,406,South Yemen,10,Middle East & North Africa,Unknown,NaN,NaN,0,4,Hijacking,NaN,NaN,NaN,NaN,6,Airports & Aircraft,42.0,Aircraft (not at an airport),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Palestinians,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5,Firearms,NaN,NaN,NaN,NaN,NaN,NaN,Firearm,0.0,2.0,NaN,NaN
51181,199205040002,1992,5,4,62,Equatorial Guinea,11,Sub-Saharan Africa,Unknown,NaN,NaN,0,1,Assassination,NaN,NaN,NaN,NaN,14,Private Citizens & Property,83.0,Protester,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
59591,199506250005,1995,6,25,189,St. Kitts and Nevis,2,Central America & Caribbean,Unknown,NaN,NaN,0,2,Armed Assault,NaN,NaN,NaN,NaN,14,Private Citizens & Property,84.0,Political Party Member/Rally,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN

After multiple tries, we did not manage to find more data about these attacks on the internet. Therefore, because we want our visualization to not introduce misinformation, we will discard them except Andorra.

Given that there is just this case of terrorist attack and that the country is rather small, in order to reflect in out visualization that there was this kind of attack there, we can use the center of the country as the location for this attack.

** Missing entries distribution per year**

In [15]:
full_yearly_counts = data['iyear'].value_counts()
missing_yearly_counts = data[data.latitude.isnull()]['iyear'].value_counts()

In [16]:
missing_fraction_yearly = missing_yearly_counts.divide(full_yearly_counts, fill_value=0)
missing_fraction_yearly

1970    0.012289
1971    0.019149
1972    0.008065
1973    0.016913
1974    0.006897
1975    0.017568
1976    0.024919
1977    0.020470
1978    0.047837
1979    0.049605
1980    0.040195
1981    0.049516
1982    0.055403
1983    0.072822
1984    0.087268
1985    0.083362
1986    0.064336
1987    0.064070
1988    0.068280
1989    0.042100
1990    0.062259
1991    0.060645
1992    0.048492
1994    0.048872
1995    0.052905
1996    0.050065
1997    0.065000
1998    0.046088
1999    0.038710
2000    0.023166
2001    0.012585
2002    0.016517
2003    0.011886
2004    0.024957
2005    0.015928
2006    0.015278
2007    0.015736
2008    0.010410
2009    0.003179
2010    0.001659
2011    0.005916
2012    0.006118
2013    0.009170
2014    0.006465
2015    0.006800
2016    0.004004
Name: iyear, dtype: float64

In [17]:
missing_fraction_yearly[missing_fraction_yearly >= 0.1]

Series([], Name: iyear, dtype: float64)

We can remark that the number of data entries with missing geolocation is smaller than 10% for each year. Therefore, taking into consideration the year also, dropping these entries will not have a great impact for our visualization

## Decision

We decided to go with the second solution because infering the approximate values could create artificial patterns in our vizualisation and that would mean giving wrong information to our user. We will make an exception for Andorra where there is only one recorded attack in the entire database and so is worth infering the location from the country for this specific case.

In [18]:
andorra_lat = 42.544033
andorra_long = 1.556309
data.loc[data['country_txt']=='Andorra', 'latitude'] = andorra_lat
data.loc[data['country_txt']=='Andorra', 'longitude'] = andorra_long

We can now keep only the data entries that have geolocation data.

In [19]:
data = data[~data.latitude.isnull()]

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165745 entries, 0 to 170349
Data columns (total 53 columns):
eventid             165745 non-null int64
iyear               165745 non-null int64
imonth              165745 non-null int64
iday                165745 non-null int64
country             165745 non-null int64
country_txt         165745 non-null object
region              165745 non-null int64
region_txt          165745 non-null object
city                165316 non-null object
latitude            165745 non-null float64
longitude           165745 non-null float64
suicide             165745 non-null int64
attacktype1         165745 non-null int64
attacktype1_txt     165745 non-null object
attacktype2         5557 non-null float64
attacktype2_txt     5557 non-null object
attacktype3         370 non-null float64
attacktype3_txt     370 non-null object
targtype1           165745 non-null int64
targtype1_txt       165745 non-null object
targsubtype1        156622 non-null float64
targsubtype1_txt    156622 non-null object
targtype2           9890 non-null float64
targtype2_txt       9890 non-null object
targsubtype2        9491 non-null float64
targsubtype2_txt    9491 non-null object
targtype3           1011 non-null float64
targtype3_txt       1011 non-null object
targsubtype3        941 non-null float64
targsubtype3_txt    941 non-null object
gname               165745 non-null object
gname2              1706 non-null object
gname3              268 non-null object
motive              48058 non-null object
guncertain1         165375 non-null float64
guncertain2         1647 non-null float64
guncertain3         264 non-null float64
claimed             103330 non-null float64
claim2              1587 non-null float64
claim3              262 non-null float64
weaptype1           165745 non-null int64
weaptype1_txt       165745 non-null object
weaptype2           11592 non-null float64
weaptype2_txt       11592 non-null object
weaptype3           1631 non-null float64
weaptype3_txt       1631 non-null object
weaptype4           69 non-null float64
weaptype4_txt       69 non-null object
weapdetail          107564 non-null object
nkill               156606 non-null float64
nwound              151075 non-null float64
nwoundus            104669 non-null float64
ransompaidus        457 non-null float64
dtypes: float64(22), int64(10), object(21)
memory usage: 68.3+ MB

Inspecting the info above about the columns data type, we can remark that the type is object only for columns that contain text. This mean the data is consistent in terms of values for the other columns (i.e. if integers are used as a codification, then they are used throughout all data entries)

In [21]:
data.head()

,eventid,iyear,imonth,iday,country,country_txt,region,region_txt,city,latitude,longitude,suicide,attacktype1,attacktype1_txt,attacktype2,attacktype2_txt,attacktype3,attacktype3_txt,targtype1,targtype1_txt,targsubtype1,targsubtype1_txt,targtype2,targtype2_txt,targsubtype2,targsubtype2_txt,targtype3,targtype3_txt,targsubtype3,targsubtype3_txt,gname,gname2,gname3,motive,guncertain1,guncertain2,guncertain3,claimed,claim2,claim3,weaptype1,weaptype1_txt,weaptype2,weaptype2_txt,weaptype3,weaptype3_txt,weaptype4,weaptype4_txt,weapdetail,nkill,nwound,nwoundus,ransompaidus
0,197000000001,1970,7,2,58,Dominican Republic,2,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,0,1,Assassination,NaN,NaN,NaN,NaN,14,Private Citizens & Property,68.0,Named Civilian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MANO-D,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
1,197000000002,1970,0,0,130,Mexico,1,North America,Mexico city,19.432608,-99.133207,0,6,Hostage Taking (Kidnapping),NaN,NaN,NaN,NaN,7,Government (Diplomatic),45.0,"Diplomatic Personnel (outside of embassy, cons...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23rd of September Communist League,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2,197001000001,1970,1,0,160,Philippines,5,Southeast Asia,Unknown,15.478598,120.599741,0,1,Assassination,NaN,NaN,NaN,NaN,10,Journalists & Media,54.0,Radio Journalist/Staff/Facility,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,13,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
3,197001000002,1970,1,0,78,Greece,8,Western Europe,Athens,37.983773,23.728157,0,3,Bombing/Explosion,NaN,NaN,NaN,NaN,7,Government (Diplomatic),46.0,Embassy/Consulate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,6,Explosives/Bombs/Dynamite,NaN,NaN,NaN,NaN,NaN,NaN,Explosive,NaN,NaN,NaN,NaN
4,197001000003,1970,1,0,101,Japan,4,East Asia,Fukouka,33.580412,130.396361,0,7,Facility/Infrastructure Attack,NaN,NaN,NaN,NaN,7,Government (Diplomatic),46.0,Embassy/Consulate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8,Incendiary,NaN,NaN,NaN,NaN,NaN,NaN,Incendiary,NaN,NaN,NaN,NaN

As discussed in the project book,  we will keep certain columns are reference. For this, we will create a dictionary containing the columns with their conventions which we will later save as json.

In [22]:
conventions_dict = {}

In [23]:
conventions_dict['attacktype'] = data[['attacktype1', 'attacktype1_txt']].set_index('attacktype1').to_dict()['attacktype1_txt']
conventions_dict['attacktype']

{1: 'Assassination',
 2: 'Armed Assault',
 3: 'Bombing/Explosion',
 4: 'Hijacking',
 5: 'Hostage Taking (Barricade Incident)',
 6: 'Hostage Taking (Kidnapping)',
 7: 'Facility/Infrastructure Attack',
 8: 'Unarmed Assault',
 9: 'Unknown'}

In [24]:
conventions_dict['targtype'] = data[['targtype1','targtype1_txt']].set_index('targtype1').to_dict()['targtype1_txt']
conventions_dict['targtype']

{1: 'Business',
 2: 'Government (General)',
 3: 'Police',
 4: 'Military',
 5: 'Abortion Related',
 6: 'Airports & Aircraft',
 7: 'Government (Diplomatic)',
 8: 'Educational Institution',
 9: 'Food or Water Supply',
 10: 'Journalists & Media',
 11: 'Maritime',
 12: 'NGO',
 13: 'Other',
 14: 'Private Citizens & Property',
 15: 'Religious Figures/Institutions',
 16: 'Telecommunication',
 17: 'Terrorists/Non-State Militia',
 18: 'Tourists',
 19: 'Transportation',
 20: 'Unknown',
 21: 'Utilities',
 22: 'Violent Political Party'}

In [25]:
targsubtype_notnull_index = data.targsubtype1.notnull()
conventions_dict['targsubtype'] = data[targsubtype_notnull_index][['targsubtype1','targsubtype1_txt']].set_index('targsubtype1').to_dict()['targsubtype1_txt']
conventions_dict['targsubtype']

{1.0: 'Gas/Oil',
 2.0: 'Restaurant/Bar/Caf',
 3.0: 'Bank/Commerce',
 4.0: 'Multinational Corporation',
 5.0: 'Industrial/Textiles/Factory',
 6.0: 'Medical/Pharmaceutical',
 7.0: 'Retail/Grocery/Bakery',
 8.0: 'Hotel/Resort',
 9.0: 'Farm/Ranch',
 10.0: 'Mining',
 11.0: 'Entertainment/Cultural/Stadium/Casino',
 12.0: 'Construction',
 13.0: 'Private Security Company/Firm',
 14.0: 'Judge/Attorney/Court',
 15.0: 'Politician or Political Party Movement/Meeting/Rally',
 16.0: 'Royalty',
 17.0: 'Head of State',
 18.0: 'Government Personnel (excluding police, military)',
 19.0: 'Election-related',
 20.0: 'Intelligence',
 21.0: 'Government Building/Facility/Office',
 22.0: 'Police Building (headquarters, station, school)',
 23.0: 'Police Patrol (including vehicles and convoys)',
 24.0: 'Police Checkpoint',
 25.0: 'Police Security Forces/Officers',
 26.0: 'Prison/Jail',
 27.0: 'Military Barracks/Base/Headquarters/Checkpost',
 28.0: 'Military Recruiting Station/Academy',
 29.0: 'Military Unit/Patrol/Convoy',
 30.0: 'Military Weaponry',
 31.0: 'Military Aircraft',
 32.0: 'Military Maritime',
 33.0: 'Non-combatant Personnel',
 34.0: 'Military Personnel (soldiers, troops, officers, forces)',
 35.0: 'Military Transportation/Vehicle (excluding convoys)',
 36.0: 'Military Checkpoint',
 37.0: 'NATO',
 39.0: 'Paramilitary',
 40.0: 'Clinics',
 41.0: 'Personnel',
 42.0: 'Aircraft (not at an airport)',
 43.0: 'Airline Officer/Personnel',
 44.0: 'Airport',
 45.0: 'Diplomatic Personnel (outside of embassy, consulate)',
 46.0: 'Embassy/Consulate',
 47.0: 'International Organization (peacekeeper, aid agency, compound)',
 48.0: 'Teacher/Professor/Instructor',
 49.0: 'School/University/Educational Building',
 50.0: 'Other Personnel',
 51.0: 'Food Supply',
 52.0: 'Water Supply',
 53.0: 'Newspaper Journalist/Staff/Facility',
 54.0: 'Radio Journalist/Staff/Facility',
 55.0: 'Television Journalist/Staff/Facility',
 56.0: 'Other (including online news agencies)',
 57.0: 'Civilian Maritime',
 58.0: 'Commercial Maritime',
 59.0: 'Oil Tanker',
 60.0: 'Port',
 61.0: 'Domestic NGO',
 62.0: 'International NGO',
 63.0: 'Ambulance',
 64.0: 'Fire Fighter/Truck',
 65.0: 'Refugee Camp',
 66.0: 'Demilitarized Zone (including Green Zone)',
 67.0: 'Unnamed Civilian/Unspecified',
 68.0: 'Named Civilian',
 69.0: 'Religion Identified',
 70.0: 'Student',
 71.0: 'Race/Ethnicity Identified',
 72.0: 'Farmer',
 73.0: 'Vehicles/Transportation',
 74.0: 'Marketplace/Plaza/Square',
 75.0: 'Village/City/Town/Suburb',
 76.0: 'House/Apartment/Residence',
 77.0: 'Laborer (General)/Occupation Identified',
 78.0: 'Procession/Gathering (funeral, wedding, birthday, religious)',
 79.0: 'Public Area (garden, parking lot, garage, beach, public building, camp)',
 80.0: 'Memorial/Cemetery/Monument',
 81.0: 'Museum/Cultural Center/Cultural House',
 82.0: 'Labor Union Related',
 83.0: 'Protester',
 84.0: 'Political Party Member/Rally',
 85.0: 'Religious Figure',
 86.0: 'Place of Worship',
 87.0: 'Affiliated Institution',
 88.0: 'Radio',
 89.0: 'Television',
 90.0: 'Telephone/Telegraph',
 91.0: 'Internet Infrastructure',
 92.0: 'Multiple Telecommunication Targets',
 93.0: 'Terrorist',
 94.0: 'Non-State Militia',
 95.0: 'Tourism Travel Agency',
 96.0: 'Tour Bus/Van',
 97.0: 'Tourist',
 98.0: 'Other Facility',
 99.0: 'Bus (excluding tourists)',
 100.0: 'Train/Train Tracks/Trolley',
 101.0: 'Bus Station/Stop',
 102.0: 'Subway',
 103.0: 'Bridge/Car Tunnel',
 104.0: 'Highway/Road/Toll/Traffic Signal',
 105.0: 'Taxi/Rickshaw',
 106.0: 'Gas',
 107.0: 'Electricity',
 108.0: 'Oil',
 109.0: 'Party Official/Candidate/Other Personnel',
 110.0: 'Party Office/Facility',
 111.0: 'Rally'}

In [27]:
conventions_dict['weaptype'] = data[['weaptype1','weaptype1_txt']].set_index('weaptype1').to_dict()['weaptype1_txt']
if 4 not in conventions_dict['weaptype']:
    conventions_dict['weaptype'][4]='Nuclear'
conventions_dict['weaptype']

{1: 'Biological',
 2: 'Chemical',
 3: 'Radiological',
 4: 'Nuclear',
 5: 'Firearms',
 6: 'Explosives/Bombs/Dynamite',
 7: 'Fake Weapons',
 8: 'Incendiary',
 9: 'Melee',
 10: 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)',
 11: 'Sabotage Equipment',
 12: 'Other',
 13: 'Unknown'}

In [28]:
conventions_dict['country'] = data[['country', 'country_txt']].set_index('country').to_dict()['country_txt']
conventions_dict['country']

{4: 'Afghanistan',
 5: 'Albania',
 6: 'Algeria',
 7: 'Andorra',
 8: 'Angola',
 10: 'Antigua and Barbuda',
 11: 'Argentina',
 12: 'Armenia',
 14: 'Australia',
 15: 'Austria',
 16: 'Azerbaijan',
 17: 'Bahamas',
 18: 'Bahrain',
 19: 'Bangladesh',
 20: 'Barbados',
 21: 'Belgium',
 22: 'Belize',
 23: 'Benin',
 25: 'Bhutan',
 26: 'Bolivia',
 28: 'Bosnia-Herzegovina',
 29: 'Botswana',
 30: 'Brazil',
 31: 'Brunei',
 32: 'Bulgaria',
 33: 'Burkina Faso',
 34: 'Burundi',
 35: 'Belarus',
 36: 'Cambodia',
 37: 'Cameroon',
 38: 'Canada',
 41: 'Central African Republic',
 42: 'Chad',
 43: 'Chile',
 44: 'China',
 45: 'Colombia',
 46: 'Comoros',
 47: 'Republic of the Congo',
 49: 'Costa Rica',
 50: 'Croatia',
 51: 'Cuba',
 53: 'Cyprus',
 54: 'Czech Republic',
 55: 'Denmark',
 56: 'Djibouti',
 57: 'Dominica',
 58: 'Dominican Republic',
 59: 'Ecuador',
 60: 'Egypt',
 61: 'El Salvador',
 62: 'Equatorial Guinea',
 63: 'Eritrea',
 64: 'Estonia',
 65: 'Ethiopia',
 66: 'Falkland Islands',
 67: 'Fiji',
 68: 'Finland',
 69: 'France',
 70: 'French Guiana',
 71: 'French Polynesia',
 72: 'Gabon',
 73: 'Gambia',
 74: 'Georgia',
 75: 'Germany',
 76: 'Ghana',
 78: 'Greece',
 80: 'Grenada',
 81: 'Guadeloupe',
 83: 'Guatemala',
 84: 'Guinea',
 85: 'Guinea-Bissau',
 86: 'Guyana',
 87: 'Haiti',
 88: 'Honduras',
 89: 'Hong Kong',
 90: 'Hungary',
 91: 'Iceland',
 92: 'India',
 93: 'Indonesia',
 94: 'Iran',
 95: 'Iraq',
 96: 'Ireland',
 97: 'Israel',
 98: 'Italy',
 99: 'Ivory Coast',
 100: 'Jamaica',
 101: 'Japan',
 102: 'Jordan',
 103: 'Kazakhstan',
 104: 'Kenya',
 106: 'Kuwait',
 107: 'Kyrgyzstan',
 108: 'Laos',
 109: 'Latvia',
 110: 'Lebanon',
 111: 'Lesotho',
 112: 'Liberia',
 113: 'Libya',
 115: 'Lithuania',
 116: 'Luxembourg',
 117: 'Macau',
 118: 'Macedonia',
 119: 'Madagascar',
 120: 'Malawi',
 121: 'Malaysia',
 122: 'Maldives',
 123: 'Mali',
 124: 'Malta',
 127: 'Martinique',
 128: 'Mauritania',
 129: 'Mauritius',
 130: 'Mexico',
 132: 'Moldova',
 136: 'Morocco',
 137: 'Mozambique',
 138: 'Myanmar',
 139: 'Namibia',
 141: 'Nepal',
 142: 'Netherlands',
 143: 'New Caledonia',
 144: 'New Zealand',
 145: 'Nicaragua',
 146: 'Niger',
 147: 'Nigeria',
 149: 'North Korea',
 151: 'Norway',
 153: 'Pakistan',
 155: 'West Bank and Gaza Strip',
 156: 'Panama',
 157: 'Papua New Guinea',
 158: 'Paraguay',
 159: 'Peru',
 160: 'Philippines',
 161: 'Poland',
 162: 'Portugal',
 164: 'Qatar',
 166: 'Romania',
 167: 'Russia',
 168: 'Rwanda',
 173: 'Saudi Arabia',
 174: 'Senegal',
 175: 'Serbia-Montenegro',
 176: 'Seychelles',
 177: 'Sierra Leone',
 178: 'Singapore',
 179: 'Slovak Republic',
 180: 'Slovenia',
 181: 'Solomon Islands',
 182: 'Somalia',
 183: 'South Africa',
 184: 'South Korea',
 185: 'Spain',
 186: 'Sri Lanka',
 189: 'St. Kitts and Nevis',
 190: 'St. Lucia',
 195: 'Sudan',
 196: 'Suriname',
 197: 'Swaziland',
 198: 'Sweden',
 199: 'Switzerland',
 200: 'Syria',
 201: 'Taiwan',
 202: 'Tajikistan',
 203: 'Tanzania',
 204: 'Togo',
 205: 'Thailand',
 207: 'Trinidad and Tobago',
 208: 'Tunisia',
 209: 'Turkey',
 210: 'Turkmenistan',
 213: 'Uganda',
 214: 'Ukraine',
 215: 'United Arab Emirates',
 217: 'United States',
 218: 'Uruguay',
 219: 'Uzbekistan',
 220: 'Vanuatu',
 221: 'Vatican City',
 222: 'Venezuela',
 223: 'Vietnam',
 226: 'Wallis and Futuna',
 228: 'Yemen',
 229: 'Democratic Republic of the Congo',
 230: 'Zambia',
 231: 'Zimbabwe',
 235: 'Yugoslavia',
 236: 'Czechoslovakia',
 347: 'East Timor',
 349: 'Western Sahara',
 359: 'Soviet Union',
 362: 'West Germany (FRG)',
 377: 'North Yemen',
 403: 'Rhodesia',
 406: 'South Yemen',
 422: 'International',
 428: 'South Vietnam',
 499: 'East Germany (GDR)',
 532: 'New Hebrides',
 603: 'United Kingdom',
 604: 'Zaire',
 605: "People's Republic of the Congo",
 1001: 'Serbia',
 1002: 'Montenegro',
 1003: 'Kosovo',
 1004: 'South Sudan'}

In [29]:
conventions_dict['region'] = data[['region','region_txt']].set_index('region').to_dict()['region_txt']
conventions_dict['region']

{1: 'North America',
 2: 'Central America & Caribbean',
 3: 'South America',
 4: 'East Asia',
 5: 'Southeast Asia',
 6: 'South Asia',
 7: 'Central Asia',
 8: 'Western Europe',
 9: 'Eastern Europe',
 10: 'Middle East & North Africa',
 11: 'Sub-Saharan Africa',
 12: 'Australasia & Oceania'}

We can now drop the textual columns because we created the dictionary with their value.

In [38]:
textual_columns_to_drop = ['country_txt','region_txt','attacktype1_txt','attacktype2_txt','attacktype3_txt',
                          'targtype1_txt','targsubtype1_txt','targtype2_txt','targsubtype2_txt','targtype3_txt',
                          'targsubtype3_txt','weaptype1_txt','weaptype2_txt','weaptype3_txt',
                          'weaptype4_txt']
data = data.drop(textual_columns_to_drop,axis=1)

ValueError: labels ['country_txt' 'region_txt' 'attacktype1_txt' 'attacktype2_txt'
 'attacktype3_txt' 'targtype1_txt' 'targsubtype1_txt' 'targtype2_txt'
 'targsubtype2_txt' 'targtype3_txt' 'targsubtype3_txt' 'weaptype1_txt'
 'weaptype2_txt' 'weaptype3_txt' 'weaptype4_txt'] not contained in axis

Now we can dump the dataframe to a json file. A thing to notice here is because we wanted the json file the have a size as small as possible, we chose the orient option to be values. This means that the json file will contain an array of arrays (a matrix), where each row is a data entry. We will also create a json file with the columns so that we know what the columns represent

In [39]:
data.to_json('cleaned_data.json', orient='values')
columns_dict = {}
for col, idx in zip(data.columns, range(len(data.columns))):
    columns_dict[col] = idx

We now dump to json the metadata.

In [41]:
import json
with open('conventions.json', 'w') as fp:
    json.dump(str(conventions_dict), fp)
    
with open('columns.json', 'w') as fp:
    json.dump(str(columns_dict), fp)